<div class="drawer">
  <div class="drawer-top">
    <div class="menu">
      <i (click)="drawerClick()" class="menu-i fa-solid fa-bars"></i>
    </div>
    <h1><pre>Cloud Storage
  Platform</pre>
    </h1>
  </div>

  <storage-bar *ngIf="filesState.showSpaceUtilizedInNavDrawer"></storage-bar>
  <div *ngIf="createFolderCheck()" (click)="createFolderClick()" class="new-folder-button">
    <i class="fa-solid fa-folder-plus"></i>
    <div>Create new folder</div>
  </div>

  <ul *ngIf="!filesState.shared" [ngStyle]="{'margin-top':!this.filesState.outsideFilesAndFoldersMode ? 'unset' : '20px'}" class="category top-category maindrawer-top">
    <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
        [routerLink]="['/filter/gallery']"><a [routerLinkActive]="['active']"><i
      [routerLinkActive]="['active']" class="fa-solid fa-icons"></i>Gallery</a></li>

    <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
        [routerLink]="['/filter/recents']"><a [routerLinkActive]="['active']"><i
      [routerLinkActive]="['active']" class="fa-regular fa-clock"></i>Recents</a></li>

    <li #homeLi (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
        [routerLink]="['/filter/home']"><a #homeLiA [routerLinkActive]="['active']"><i
      [routerLinkActive]="['active']" #homei class="fa-solid fa-house"></i>Home</a></li>

    <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
        [routerLink]="['/filter/favorites']"><a [routerLinkActive]="['active']"><i
      [routerLinkActive]="['active']" class="fa-regular fa-heart"></i>Favorites</a></li>

    <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
        [routerLink]="['/filter/trash']"><a [routerLinkActive]="['active']"><i
      [routerLinkActive]="['active']" class="fa-regular fa-trash-can"></i>Trash</a></li>
  </ul>
  <ul *ngIf="filesState.getItemsBeingMoved().length==0 && !filesState.outsideFilesAndFoldersMode" class="category bottom-category maindrawer-bottom">
    <li (click)="typeItemSelected($event, 0)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
        class="category-tab" id="Images"
        style="padding-left: 0;"><input id="0-NavCheckbox" type="checkbox"/><a><i class="fa-regular fa-image"></i>Images</a>
    </li>
    <li (click)="typeItemSelected($event, 1)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
        class="category-tab" id="Audio"
        style="padding-left: 0;"><input id="1-NavCheckbox" type="checkbox"/><a><i class="fa-solid fa-music"></i>Audios</a>
    </li>
    <li (click)="typeItemSelected($event, 2)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
        class="category-tab" id="Video"
        style="padding-left: 0;"><input id="2-NavCheckbox" type="checkbox"/><a><i class="fa-solid fa-video"></i>Videos</a>
    </li>
    <li (click)="typeItemSelected($event, 3)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
        class="category-tab" id="Documents"
        style="padding-left: 0;"><input id="3-NavCheckbox" type="checkbox"/><a><i class="fa-solid fa-file"></i>Documents</a>
    </li>
    <li (click)="typeItemSelected($event, 4)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
        class="category-tab" id="GIF"
        style="padding-left: 0;"><input id="4-NavCheckbox" type="checkbox"/><a><i class="fa-solid fa-palette"></i>GIFs</a>
    </li>
  </ul>
</div>


<div class="sticky-holder">
  <div class="mini-drawer">
    <div class="menu m-menu">
      <i (click)="miniDrawerClick()" class="menu-i fa-solid fa-bars"></i>
    </div>
    <ul *ngIf="!filesState.shared" class="category top-category m-top-cat">
      <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
          [routerLink]="['/filter/gallery']"><a [routerLinkActive]="['active']"><i
        [routerLinkActive]="['active']" class="fa-solid fa-icons"></i></a></li>

      <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
          [routerLink]="['/filter/recents']"><a [routerLinkActive]="['active']"><i
        [routerLinkActive]="['active']" class="fa-regular fa-clock"></i></a></li>

      <li #miniDrawerHomeLi (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
          [routerLink]="['/filter/home']"><a #miniDrawerHomeLiA [routerLinkActive]="['active']"><i
        #miniDrawerHomei [routerLinkActive]="['active']" class="fa-solid fa-house"></i></a></li>

      <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
          [routerLink]="['/filter/favorites']"><a [routerLinkActive]="['active']"><i
        [routerLinkActive]="['active']" class="fa-regular fa-heart"></i></a></li>

      <li (mouseleave)="topCategoryLiHoverAway($event)" (mouseover)="topCategoryLiHover($event)" [routerLinkActive]="['active']"
          [routerLink]="['/filter/trash']"><a [routerLinkActive]="['active']"><i
        [routerLinkActive]="['active']" class="fa-regular fa-trash-can"></i></a></li>

      <li>
        <i *ngIf="!anyItemRenaming && breadCrumbs[0]=='home' && filesState.getItemsBeingMoved().length==0" (click)="createFolderClick()" class="fa-solid fa-folder-plus fa-folder-plus-mini"></i>
      </li>
    </ul>


    <ul *ngIf="filesState.getItemsBeingMoved().length==0 && !filesState.outsideFilesAndFoldersMode" class="category bottom-category m-bottom-cat">
      <li (click)="typeItemSelectedMini($event,'Images', 0)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
          class="m-cat-tab category-tab Images" id="Images"
          style="padding-left: 0;"><a><i class="fa-regular fa-image"></i></a></li>
      <li (click)="typeItemSelectedMini($event,'Audio', 1)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
          class="m-cat-tab category-tab Audio" id="Audio"
          style="padding-left: 0;"><a><i class="fa-solid fa-music "></i></a></li>
      <li (click)="typeItemSelectedMini($event,'Video', 2)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
          class="m-cat-tab category-tab Video" id="Video"
          style="padding-left: 0;"><a><i class="fa-solid fa-video"></i></a></li>
      <li (click)="typeItemSelectedMini($event,'Documents', 3)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
          class="m-cat-tab category-tab Documents" id="Documents"
          style="padding-left: 0;"><a><i class="fa-solid fa-file"></i></a></li>
      <li (click)="typeItemSelectedMini($event,'GIF', 4)" (mouseleave)="hoverTransitionOppositeTrigger($event)" (mouseover)="hoverTransitionTrigger($event)"
          class="m-cat-tab category-tab GIF" id="GIF"
          style="padding-left: 0;"><a><i class="fa-solid fa-palette"></i></a></li>
    </ul>
  </div>
</div>
