<div class="content">

  <breadcrumbs [crumbs]="crumbs" class="breadcrumbs-topmost-parent"></breadcrumbs>

  <notification-center></notification-center>

  <div *ngIf="!emptyFolderTxtActive && crumbs[0]=='Search Results'" class="topTxt resultsTxt">Search Results for {{searchQuery}}</div>
  <div *ngIf="emptyFolderTxtActive" class="topTxt">{{emptyTxt}}</div>
  <div *ngIf="!emptyFolderTxtActive && document.getElementsByClassName('file-being-displayed').length==0 && guidsHiddenDueToFileFilter.length!=0" class="topTxt">No files match the applied filters.</div>
  <div [ngClass]="{'files-and-folders-in-large-mode':localStorage.getItem('list')!='Y' && filesState.getItemsBeingMoved().length==0, 'move-state-files':filesState.getItemsBeingMoved().length>0}" *ngIf="fileBeingPreviewd==null" class="files-and-folders">
    <file-item *ngFor="let f of visibleFiles; index as i" [ngStyle]="{'display':guidsHiddenDueToFileFilter.includes(f.fileId) ? 'none':'inline-block'}" [ngClass]="{'file-move-state-width-override':filesState.getItemsBeingMoved().length>0, 'w-100':localStorage.getItem('list')=='Y'}" [FileFolder]="f" [type]="f.fileType"
                     class="file-large-item-from-viewer" (hiddenDueToFileFilter)="fileFilterUpdates(f, $event);" (destroy)="removeFile(i)"></file-item>
    <div *ngIf="localStorage.getItem('list') != 'Y' && !anyFolderUncreated && crumbs[0]=='home' && filesState.getItemsBeingMoved().length==0 && guidsHiddenDueToFileFilter.length == 0 && !loaderService.getLoadingStatus()" (click)="this.createNewFolder()" class="newFolder">
      <i class="fa-solid fa-folder-plus"></i>
      <div>Create folder</div>
    </div>
  </div>

  <file-preview *ngIf="fileBeingPreviewd!=null && !filesState.shared" [file]="fileBeingPreviewd!"></file-preview>
  <file-preview *ngIf="fileBeingPreviewd!=null && filesState.shared"
                [file]="fileBeingPreviewd!"
                [publicfileurl]="sharedFilePreviewUrl"
                [publicdownloadurl]="sharedFileDownloadUrl"
                [publicfextension]="sharedFileExtension"></file-preview>

</div>
