<div class="content">

  <div #navigationDrawer class="navigation-drawer" *ngIf="!isAuthPage">
    <drawer class="drawer-component" (miniSet)="miniToggle($event)"></drawer>
  </div>


  <div class="dashboard">
    <div #panel class="top-panel" *ngIf="!isAuthPage && !isAccDashboard">
      <panel class="panel"></panel>
    </div>

    <div #routerContainer class="router-container" [ngClass]="{'full-width': isAuthPage}">
      <router-outlet></router-outlet>

      <div #loaderOverlay *ngIf="loading" class="overlay">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>

<folder-suggestion-overlay *ngIf="!isAuthPage"></folder-suggestion-overlay>

