<div #parent *ngIf="this.filesState.getItemsBeingMoved().length==0 else moveFile" (click)="this.fetchSubFoldersRedirect();" #file (mouseleave)="hoveringOver = false; !appIsInSelectionState ? hideCheckbox() : false" (mouseover)="hoveringOver = true; showCheckbox();" [title]="originalName" [ngClass]="{'file-large':localStorage.getItem('list')!='Y','file-list':localStorage.getItem('list')=='Y','file-being-displayed':parent.style.display!='none'}">
    <div [title]="FileFolder.uncreated ? 'Cancel' : 'Options'" [ngClass]="{'file-options-large':localStorage.getItem('list')!='Y','file-options-list':localStorage.getItem('list')=='Y'}">
        <i [ngClass]="{'ellipsis-visible':(!this.selected && !FileFolder.uncreated), 'fa-ellipsis-large':localStorage.getItem('list')!='Y','fa-ellipsis-list':localStorage.getItem('list')=='Y'}" #ellipsis (click)="expandOrCollapseOptions($event)" class="fa-solid fa-ellipsis"></i>
        <i (mouseenter)="hoveringOverDestroy=true" (mouseleave)="hoveringOverDestroy=false" #abortCreationCross (click)="destroy.emit(); filesState.setRenaming(false); filesState.setUncreatedFolderExists(false);" *ngIf="this.FileFolder.uncreated" class="fa-solid fa-xmark"></i>
      <div #fileOptionsMenu [ngClass]="{'file-options-menu-large':localStorage.getItem('list')!='Y','file-options-menu-list':localStorage.getItem('list')=='Y'}">
        <div *ngIf="!filesState.shared && crumbs[crumbs.length-1]!='trash'" (click)="trash($event); expandOrCollapseOptions();" class="file-option" id="trash-file-option">Move to trash</div>
        <div *ngIf="!filesState.shared && crumbs[crumbs.length-1]=='trash'" (click)="restore($event); expandOrCollapseOptions();" class="file-option" id="restore">Restore</div>
        <div *ngIf="!filesState.shared && crumbs[crumbs.length-1]=='trash'" (click)="delete($event); expandOrCollapseOptions();" class="file-option" id="delete">Delete Permanently</div>
        <div *ngIf="!filesState.shared" #renamingFileOptionDiv (click)="setupInput(true, $event);" class="file-option" id="rename-file-option">Rename</div>
        <div *ngIf="!filesState.shared && crumbs[crumbs.length-1]!='trash'" (click)="expandOrCollapseOptions(); router.navigate(this.type==FileType.Folder ? ['foldermetadata',FileFolder.fileId]:['filemetadata',FileFolder.fileId], {queryParams:{tab:1}})" class="file-option" id="share-file-option">Share</div>
        <div *ngIf="!filesState.shared && crumbs[crumbs.length-1]!='trash'" (click)="activateMoveState($event); expandOrCollapseOptions();" class="file-option" id="move-file-option">Move to...</div>
        <div *ngIf="!filesState.shared && this.FileFolder.isFavorite" (click)="toggleFavorite($event); expandOrCollapseOptions();" class="file-option" id="unfavorite-file-option">UnFavorite</div>
        <div *ngIf="!filesState.shared && !this.FileFolder.isFavorite" (click)="toggleFavorite($event); expandOrCollapseOptions();" class="file-option" id="favorite-file-option">Favorite</div>
        <div (click)="download();" class="file-option" id="download">Download</div>
        <div *ngIf="!filesState.shared" (click)="expandOrCollapseOptions(); router.navigate(this.type==FileType.Folder ? ['foldermetadata',FileFolder.fileId]:['filemetadata',FileFolder.fileId])" class="file-option" id="info-file-option">Info</div>
      </div>
    </div>

    <!--150x180.25-->
    <input *ngIf="!FileFolder.uncreated && !filesState.shared" (click)="$event?.stopPropagation(); selectFileCheckbox.nativeElement.checked ? filesState.addSelectedItem(FileFolder) : this.filesState.deselectItem(FileFolder);" #selectFile type="checkbox" name="selectFile" [id]="localStorage.getItem('list')!='Y'?'selectFile-large':'selectFile-list'"/>
    <i *ngIf="this.FileFolder.isFavorite" [ngClass]="{'fa-heart-large':localStorage.getItem('list')!='Y','fa-heart-list':localStorage.getItem('list')=='Y'}" title="Added as favorite. Unfavorite from three-dot menu." class="fa-solid fa-heart"></i>

    <div [ngClass]="{'file-item-icon-list':FileFolder.thumbnail==null && localStorage.getItem('list')=='Y','file-item-icon-large':FileFolder.thumbnail==null && localStorage.getItem('list')!='Y', 'thumbnail-active':FileFolder.thumbnail!=null}" class="{{FileType[type]}}">
      <img class="thumbnail" *ngIf="FileFolder.thumbnail!=null" [src]="'data:image/png;base64,' + FileFolder.thumbnail" alt="image">
    </div>

    <div [ngClass]="{'file-name-text-div-large':localStorage.getItem('list')!='Y','file-name-text-div-list':localStorage.getItem('list')=='Y'}">
        <div  *ngIf="!this.renaming" [ngClass]="{'file-name-text-input-large':localStorage.getItem('list')!='Y','file-name-text-input-list':localStorage.getItem('list')=='Y'}">{{this.name}}</div>
        <input #fileNameInput *ngIf="this.renaming" [formControl]="this.renameFormControl" (blur)="!hoveringOverDestroy ? renameEnter($event) : false" (keydown.enter)="renameEnter($event)" [ngClass]="{'file-name-text-input-large':localStorage.getItem('list')!='Y','file-name-text-input-list':localStorage.getItem('list')=='Y'}" type="text" [value]="this.originalName"/>
      <span class="size-span">{{FileFolder.size}} MB</span>
    </div>
  <span *ngIf="localStorage.getItem('list')=='Y'" [ngClass]="{'fileTypeSpan-mini-drawer-set':localStorage.getItem('miniDrawerSet')=='Y','fileTypeSpan-mini-drawer-not-set':localStorage.getItem('miniDrawerSet')!='Y'}"  class="fileTypeSpan">{{getFileTypeSpanContent()}}</span>
</div>

<ng-template #moveFile class="file-move-state">
  <div>
    <div class="file-move-state">
      <div ngClass="{{FileType[type]}}" class="file-item-icon-move-state"></div>
      <div *ngIf="!this.renaming" class="file-name-text-div file-name-text-div-move-state">{{this.name}}</div>
    </div>
    <div *ngIf="type==FileType.Folder" class="btn-container">
      <button (click)="move();" class="move-options">Move inside this folder</button>
      <button (click)="fetchSubFoldersRedirect();" class="move-options">Open Folder</button>
    </div>
  </div>

</ng-template>
