<p class="full-name">{{file.fileName}}</p>
<div class="tags-row" *ngIf="file.tags && file.tags.length > 0">
  <span class="tag-chip" *ngFor="let tag of file.tags">{{ tag }}</span>
</div>
<div class="options">
  <button (click)="download()" title="Download file" class="btn">
    <i class="fa-solid fa-download"></i>
  </button>
  <button *ngIf="!filesState.shared" (click)="router.navigate(['filemetadata',file.fileId], {queryParams:{tab:1}})" title="Share file" class="btn">
    <i class="fa-solid fa-share-nodes"></i>
  </button>
  <button *ngIf="!filesState.shared" (click)="router.navigate(['filemetadata',file.fileId])" title="File metadata" class="btn">
    <i class="fa-solid fa-circle-info"></i>
  </button>
  <button (click)="window.open('https://localhost:7219/api/Retrievals/filePreview?filePath='+file.filePath, '_blank')" class="btn" *ngIf="!filesState.shared && file.fileType==FileType.Document && file.filePath.split('.')[file.filePath.split('.').length-1]=='pdf'"><i class="fa-solid fa-arrow-up-right-from-square"></i> Open full</button>
</div>
<div *ngIf="file.fileName.split('.')[file.fileName.split('.').length-1] == 'txt'">
  <pre>{{ fileText }}</pre>
</div>

<div class="previewParent">
  <img *ngIf="file.fileType==FileType.Image || file.fileType==FileType.GIF && trustedUrl" [src]="trustedUrl" [width]="'450'" [height]="'450'" alt="image"/>

  <video preload="metadata" *ngIf="file.fileType==FileType.Video" [src]="trustedUrl" controls width="600"></video>

  <audio *ngIf="file.fileType==FileType.Audio" [src]="trustedUrl"  controls></audio>

  <iframe [attr.src]="trustedUrl" *ngIf="file.fileType==FileType.Document && file.filePath.split('.')[file.filePath.split('.').length-1]=='pdf'"> </iframe>
</div>

