.breadcrumbs{
  font-size: 30px;
  font-family: Inter;
  font-weight: 500;
  padding-bottom: 5px;
  /*padding-right: 200px;*/
  margin-left: 23px;
  user-select: none;
  height: 55px;
  overflow-x: scroll;
  display: flex;
  white-space: nowrap;
  align-items: center;
}


::-webkit-scrollbar {
  height: 4px; /* Set the width of the scrollbar */
}

.breadcrumb-scroll-active::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.507);
  border-radius: 10px;
  padding-left: 23px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.crumbAnchorTag{
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border-radius: 24px;
}
.crumbAnchorTag:hover{
  background-color: antiquewhite;
  cursor: pointer;
}
.crumb-disabled, .crumb-disabled:hover{
  background-color: transparent !important;
  cursor: default !important;
}
.capitalize{
  text-transform: capitalize;
}
.margin-right{
  margin-right: 75px;
}

@media (max-width: 1200px) {
  .breadcrumbs {
    font-size: 28px;
  }
  .margin-right{
    margin-right: 45px;
  }
}

@media (max-width: 900px) {
  .breadcrumbs {
    font-size: 24px;
  }
  .margin-right{
    margin-right: 25px;
  }
}

@media (max-width: 600px) {
  .breadcrumbs {
    font-size: 20px;
  }
  .margin-right{
    margin-right: 0px;
  }
}
